openapi: 3.0.0
servers:
  - description: Admin API Tribz
    url: 'https://api.tribz.fr'
info:
  description: This is the Tribz Admin API defining how the ReactJS Typescript Frontend and the NodeJs interact.
  version: 1.0.0
  title: Tribz Admin API
  license:
    name: Tanke TOS
    url: www.tanke.fr
  contact:
    name: EA
    email: ea@tribz.fr
    url: www.tanke.fr
tags:
  - name: AUTH
    description: Authentication
  - name: USERS
    description: User data
  - name: CAMPAIGNS
    description: Campaign data
  - name: SOCIAL NETWORKS
    description: Social Network data
  - name: ORDERS
    description: Orders data
  - name: MEDIAS
    description: Media data
  - name: BRANDS
    description: Brands data
  - name: STATISTICS
    description: Statistics
  - name: CHAT
    description: Chat
  - name: CLUBS
    description: Clubs Data
  - name: UPLOAD
    description: UPLOAD
  - name: LOGIN PAGE
    description: Login page
  - name: DASHBOARD PAGE
    description: Dashboard page
  - name: CAMPAIGNS LIST PAGE
    description: Campaigns list page
  - name: CREATE CAMPAIGN CONTENT PAGE
    description: Create campaign content page
  - name: CREATE CAMPAIGN TARGETING PAGE
    description: Create campaign targeting page
  - name: CREATE CAMPAIGN FINISH PAGE
    description: Create campaign finish page
  - name: MANAGE CAMPAIGNS PAGE
    description: Manage campaigns(orders) page
  - name: MANAGE CAMPAIGN CONTENT EXPANDED PAGE
    description: 'Manage campaign content expanded page, statistics for one campaign'
  - name: CAMPAIGN REPORTING PAGE
    description: Campaign reporting page
  - name: USER LIST PAGE
    description: User list page
  - name: CREATE USER PAGE
    description: Create new user by admin page
  - name: EDIT USER GENERAL PAGE
    description: Edit user general page
  - name: EDIT USER ADD ADDRESS PAGE
    description: Edit user add address page
  - name: EDIT USER EDIT ADDRESS PAGE
    description: Edit user edit address page
  - name: EDIT USER NOTIFICATIONS PAGE
    description: Edit user notifications page
  - name: EDIT USER SOCIAL NETWORK LINKS PAGE
    description: Edit user social network links page
  - name: EDIT USER CHANGE PASSWORD PAGE
    description: Edit user password page
  - name: EDIT USER RATINGS OVERVIEW PAGE
    description: Edit user ratings overview page
  - name: EDIT USER ADD RATINGS PAGE
    description: Edit user add ratings page
  - name: EDIT USER EDIT RATINGS PAGE
    description: Edit user edit ratings page
  - name: EDIT USER SOCIAL NETWORK STATISITCS
    description: Edit user social network statistics
  - name: CREATE BRAND PAGE
    description: Edit user password page
  - name: BRAND LIST PAGE
    description: Management brand list page
  - name: EDIT BRAND PAGE
    description: Edit brand page
  - name: EDIT BRAND NOTIFICATIONS PAGE
    description: Edit brand notifications page
  - name: EDIT BRAND SOCIAL NETWORK LINKS PAGE
    description: Edit brand social network links page
  - name: EDIT BRAND CHANGE PASSWORD PAGE
    description: Edit brand change password page
  - name: CHAT PAGE
    description: Chat page
  - name: MANAGEMENT CLUBS PAGE
    description: Management club page
  - name: CREATE CLUB PAGE
    description: Create club page
  - name: EDIT CLUB PAGE
    description: Edit club page
  - name: ADMIN UI
    description: Admin interface
  - name: USER UI
    description: User interface
  - name: SIGNUP PAGE
    description: Signup page
  - name: SIGNUP STEPPER PAGE
    description: Signup stepper page
  - name: SHOP PAGE
    description: Shop page with campaign list
  - name: CAMPAIGN DETAIL PAGE
    description: Campaign detail page
  - name: CAMPAIGN REQUEST PAGE
    description: Campaign request page
  - name: MY ORDERS PAGE
    description: My orders page
  - name: MY ORDERS ADD IG MEDIA PAGE
    description: My orders IG media page
  - name: MY ORDERS ADD IG MEDIA BY UPLOAD PAGE
    description: My orders add IG media by upload page
  - name: MY ORDERS ADD IG STORY PAGE
    description: My orders add IG story page
  - name: MY ORDERS ADD IG STORY BY UPLOAD PAGE
    description: My orders add IG story by upload page
  - name: MY ORDERS ADD IG REEL BY UPLOAD PAGE
    description: My orders add IG reel by upload page
  - name: MY ORDERS ADD YOUTUBE VIDEO PAGE
    description: My orders add youtube video page
  - name: MY ORDERS ADD YOUTUBE VIDEO BY UPLOAD PAGE
    description: My orders add youtube video by upload page
  - name: MY ORDERS ADD YOUTUBE SHORTS PAGE
    description: My orders add youtube shorts page
  - name: MY ORDERS ADD YOUTUBE SHORTS UPLOAD PAGE
    description: My orders add youtube shorts upload page
  - name: MY ORDERS ADD TIKTOK CONTENT BY UPLOAD PAGE
    description: My orders add tiktok content by upload page
  - name: MY ORDERS ADD BLOG LINK PAGE
    description: My orders add blog link page
  - name: USER SOCIAL NETWORK MEDIAS PAGE
    description: User social network medias page
  - name: USER ACCOUNT PAGE
    description: User account page
  - name: USER ACCOUT CHANGE PASSWORD PAGE
    description: User account change password page
paths:
  /login:
    post:
      tags:
        - AUTH
        - ADMIN UI
        - LOGIN PAGE
        - USER UI
      summary: Login
      operationId: login
      description: Login
      requestBody:
        description: A JSON Object containing user credential
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email
                  example: username@gmail.com
                password:
                  type: string
                  description: password
                  example: VeryStrongPwd42022
            examples:
              example-1:
                value:
                  email: rcrabb8@blinklist.com
                  password: VeryStrongPwd42022
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 510afa78-7a96-4f40-970d-cfa653f2a623
                        format: uuid
                      role:
                        type: string
                        enum:
                          - admin
                          - brand
                          - influencer
                        example: influencer
                  token:
                    type: string
                    example: MTcw.wOipwPeTDVqQ41_3aTjJ64t0PoJL4EK04niu23eH1czrJXX-GaO4qQsGei4l
                  refreshToken:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImUuYW5hZG9sQGdtYWlsLmNvbSIsImlhdCI6MTY2MTM0ODQ2MSwiZXhwIjoxNjYxOTUzMjYxfQ.pkyS5LX_tug_2vkHa2HImPno0IyJUrfd4KbkjG2tj18
              examples:
                example-1:
                  value:
                    user:
                      id: 510afa78-7a96-4f40-970d-cfa653f2a623
                      role: influencer
                    token: MTcw.wOipwPeTDVqQ41_3aTjJ64t0PoJL4EK04niu23eH1czrJXX-GaO4qQsGei4l
                    refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImUuYW5hZG9sQGdtYWlsLmNvbSIsImlhdCI6MTY2MTM0ODQ2MSwiZXhwIjoxNjYxOTUzMjYxfQ.pkyS5LX_tug_2vkHa2HImPno0IyJUrfd4KbkjG2tj18
        '401':
          description: Invalid credentials
        '500':
          description: Internal Server Error
  /facebook-login:
    post:
      tags:
        - AUTH
        - LOGIN PAGE
        - USER UI
      summary: Facebook Login
      operationId: facebookLogin
      description: Login Login
      requestBody:
        description: A JSON Object containing user credential
        content:
          application/json:
            schema:
              type: object
              properties:
                userID:
                  type: string
                  example: '6494303943924425'
                accessToken:
                  type: string
                  example: EAATxpbwbXbQBALo8zOwqeUPJcXJ4ZB1bjHeZCfpT31Ex27TILDJhrRshGjgvY768ug3ToB06Cv3eAZApTL30
                data_access_expiration_time:
                  type: number
                  default: 1661556280
                expiresIn:
                  type: number
                  example: 5720
                graphDomain:
                  type: string
                  example: facebook
                signedRequest:
                  type: string
                  example: HTo8kVf28pm9zFWHe1Q6tfZAOISg-GYHnXwf_cd24rU.eyJ1c2VyX2lkIjoiNjQ5NDMwMzk0MzkyNDQyNSIs
            examples:
              example-1:
                value:
                  userID: '6494303943924425'
                  accessToken: EAATxpbwbXbQBALo8zOwqeUPJcXJ4ZB1bjHeZCfpT31Ex27TILDJhrRshGjgvY
                  data_access_expiration_time: 1661556280
                  expiresIn: 5720
                  graphDomain: facebook
                  signedRequest: HTo8kVf28pm9zFWHe1Q6tfZAOISg-GYHnXwf_cd24rU.eyJ1c2VyX2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 510afa78-7a96-4f40-970d-cfa653f2a623
                        format: uuid
                      role:
                        type: string
                        enum:
                          - admin
                          - brand
                          - influencer
                        example: influencer
                  token:
                    type: string
                    example: MTcw.wOipwPeTDVqQ41_3aTjJ64t0PoJL4EK04niu23eH1czrJXX-GaO4qQsGei4l
                  refreshToken:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImUuYW5hZG9sQGdtYWlsLmNvbSIsImlhdCI6MTY2MTM0ODQ2MSwiZXhwIjoxNjYxOTUzMjYxfQ.pkyS5LX_tug_2vkHa2HImPno0IyJUrfd4KbkjG2tj18
  /google-login:
    post:
      tags:
        - AUTH
        - LOGIN PAGE
        - USER UI
      summary: Google Login
      operationId: googleLogin
      description: Google Login
      requestBody:
        description: A JSON Object containing user credential
        content:
          application/json:
            schema:
              type: object
              properties:
                clientId:
                  type: string
                  example: '6494303943924425'
                credential:
                  type: string
                  example: EAATxpbwbXbQBALo8zOwqeUPJcXJ4ZB1bjHeZCfpT31Ex27TILDJhrRshGjgvY768ug3ToB06Cv3eAZApTL30
                accessToken:
                  type: string
                  example: EAATxpbwbXbQBALo8zOwqeUPJcXJ4ZB1bjHeZCfpT31Ex27TILDJhrRshGjgvY768ug3ToB06Cv3eAZApTL30
                expiresIn:
                  type: number
                  example: 5720
            examples:
              example-1:
                value:
                  clientId: '6494303943924425'
                  credential: EAATxpbwbXbQBALo8zOwqeUPJcXJ4ZB1bjHeZCfpT31Ex27TILDJhrRshGjgvY
                  accessToken: EAATxpbwbXbQBALo8zOwqeUPJcXJ4ZB1bjHeZCfpT31Ex27TILDJhrRshGjgvY
                  expiresIn: 5720
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 510afa78-7a96-4f40-970d-cfa653f2a623
                        format: uuid
                      role:
                        type: string
                        enum:
                          - admin
                          - brand
                          - influencer
                        example: influencer
                  token:
                    type: string
                    example: MTcw.wOipwPeTDVqQ41_3aTjJ64t0PoJL4EK04niu23eH1czrJXX-GaO4qQsGei4l
                  refreshToken:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImUuYW5hZG9sQGdtYWlsLmNvbSIsImlhdCI6MTY2MTM0ODQ2MSwiZXhwIjoxNjYxOTUzMjYxfQ.pkyS5LX_tug_2vkHa2HImPno0IyJUrfd4KbkjG2tj18
              examples:
                example-1:
                  value:
                    user:
                      id: 510afa78-7a96-4f40-970d-cfa653f2a623
                      role: admin
                    token: MTcw.wOipwPeTDVqQ41_3aTjJ64t0PoJL4EK04niu23eH1czrJXX-GaO4qQsGei4l
                    refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImUuYW5hZG9sQGdtYWlsLmNvbSIsImlhdCI6MTY2MTM0ODQ2MSwiZXhwIjoxNjYxOTUzMjYxfQ.pkyS5LX_tug_2vkHa2HImPno0IyJUrfd4KbkjG2tj18
  /logout:
    post:
      security:
        - bearerAuth: []
      tags:
        - AUTH
        - ADMIN UI
        - USER UI
      summary: Logout
      operationId: logout
      description: Logout - Unvalidates Token in DB
      responses:
        '204':
          $ref: '#/components/responses/SuccessNoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
  /users/forgot-password:
    parameters: []
    post:
      summary: Post User Email for ask to reset
      operationId: post-users-forgot-password
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: jaydon.frankie@gmail.com
            examples:
              example-1:
                value:
                  email: jaydon.frankie@gmail.com
        description: User's email
      description: User forgot her/his password and ask to reset a new password by email
      tags:
        - USERS
        - LOGIN PAGE
        - ADMIN UI
        - USER UI
  /users:
    get:
      security:
        - bearerAuth: []
      tags:
        - USERS
        - CREATE CAMPAIGN TARGETING PAGE
        - MANAGEMENT CLUBS PAGE
        - USER LIST PAGE
        - ADMIN UI
      summary: Get list of users
      operationId: getUsers
      description: 'Get list of all users for display in the user list page, create campagin targeting page and management clubs page;  then this route with query params also used for get user list for selected users displaied in the create/update campaign targeting page.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserItemForUserList'
              examples:
                example-3:
                  value:
                    - id: 510afa78-7a96-4f40-970d-cfa653f2a627
                      fullName: Mufi Robertshaw
                      status: registered
                      createdAt: '2021-11-10 09:47:48.501+00'
                      avatarUrl: 'https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80'
                      socialNetworks:
                        instagram:
                          url: 'https://www.instagram.com/user.kerluke'
                          followers: 1234440
                        youtube:
                          url: 'https://www.youtube.com/user.kerluke'
                          followers: 200000
                        blog:
                          url: 'https://www.instagram.com/user.kerluke'
                          visites: 20000
                    - id: 510afa78-7a96-4f40-900d-cfa653f2a624
                      fullName: Karena Rannald
                      status: registered
                      createdAt: '2021-11-15 09:47:48.501+00'
                      avatarUrl: 'https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=922&q=80'
                      socialNetworks:
                        instagram:
                          url: 'https://www.instagram.com/user.kerluke'
                          followers: 1234440
                        youtube:
                          url: 'https://www.youtube.com/user.kerluke'
                          followers: 200000
                        blog:
                          url: 'https://www.instagram.com/user.kerluke'
                          visites: 20000
                    - id: 510afa78-7a96-4f40-970d-cfa653f2a695
                      fullName: Marcus Stedall
                      status: incomplete
                      createdAt: '2021-11-19 09:47:48.501+00'
                      avatarUrl: 'https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80'
                      socialNetworks:
                        instagram:
                          url: 'https://www.instagram.com/user.kerluke'
                          followers: 1234440
                        youtube:
                          url: 'https://www.youtube.com/user.kerluke'
                          followers: 200000
                        blog:
                          url: 'https://www.instagram.com/user.kerluke'
                          visites: 20000
                    - id: 519afa78-7a96-4f40-970d-cfa653f2a626
                      fullName: Millie Bransgrove
                      status: incomplete
                      createdAt: '2021-11-15 09:47:48.501+00'
                      avatarUrl: 'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'
                      socialNetworks:
                        instagram:
                          url: 'https://www.instagram.com/user.kerluke'
                          followers: 1234440
                        youtube:
                          url: 'https://www.youtube.com/user.kerluke'
                          followers: 200000
                        blog:
                          url: 'https://www.instagram.com/user.kerluke'
                          visites: 20000
                    - id: 519afa78-7a96-4f40-970d-cfa653f2a623
                      fullName: Giulietta Oldmeadow
                      status: active
                      createdAt: '2022-01-15 09:47:48.501+00'
                      avatarUrl: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
                      nbMessageUnread: 9
                      ratingStars: 4
                      socialNetworks:
                        instagram:
                          url: 'https://www.instagram.com/user.kerluke'
                          followers: 1234440
                        youtube:
                          url: 'https://www.youtube.com/user.kerluke'
                          followers: 200000
                        blog:
                          url: 'https://www.instagram.com/user.kerluke'
                          visites: 20000
        '400':
          description: bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      parameters:
        - schema:
            type: string
            example: '008780c5-4ae0-4ca6-ae89-dba910ccf6a9, 008780c5-4ae0-4ca6-ae89-dba910ccf6a8'
          in: query
          name: usersSelected
          description: some userId selected by targeting filter
    post:
      security:
        - bearerAuth: []
      tags:
        - USERS
        - ADMIN UI
        - CREATE USER PAGE
      summary: Add new user
      operationId: postUsers
      description: Add new user by admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: created user id
                    example: 510afa78-7a96-4f40-970d-cfa653f2a623
                    format: uuid
              examples:
                example-1:
                  value:
                    id: 510afa78-7a96-4f40-970d-cfa653f2a623
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                general:
                  type: object
                  properties:
                    avatarUrl:
                      type: string
                    status:
                      $ref: '#/components/schemas/UserStatus'
                    gender:
                      type: string
                      enum:
                        - male
                        - female
                        - other
                      example: female
                    firstName:
                      type: string
                      example: Laura
                    lastName:
                      type: string
                      example: LEGRAND
                    emailAddress:
                      type: string
                      example: user.tribz@tribz.com
                    phoneNumber:
                      type: string
                      example: +33(0)766554433
                    interests:
                      type: array
                      items:
                        $ref: '#/components/schemas/Uuid'
                    tags:
                      $ref: '#/components/schemas/TagList'
                    clubs:
                      $ref: '#/components/schemas/ClubNameList'
                    notes:
                      type: string
                      example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                    phoneVerified:
                      type: boolean
                    mailVerified:
                      type: boolean
                    birthdate:
                      $ref: '#/components/schemas/Date'
    patch:
      summary: Delete user(s)
      operationId: patch-users
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      description: Delete user(s)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    $ref: '#/components/schemas/Uuid'
                method:
                  type: string
                  enum:
                    - delete
                  example: delete
      tags:
        - USERS
        - ADMIN UI
        - USER LIST PAGE
      security:
        - bearerAuth: []
  /users/to-validate:
    get:
      security:
        - bearerAuth: []
      tags:
        - USERS
        - DASHBOARD PAGE
        - ADMIN UI
      summary: Get list of users to validate
      operationId: get-Users-To-Validate
      description: Get list of users for display in the dashboard page. Status only Registered (not validated yet) and Incomplete (user did not finalized sign-up)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserItemForUserList'
              examples:
                example:
                  value:
                    - id: 510afa78-7a96-4f40-970d-cfa653f2a627
                      fullName: Mufi Robertshaw
                      status: registered
                      createdAt: '2021-11-10 09:47:48.501+00'
                      avatarUrl: 'https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80'
                      socialNetworks:
                        instagram:
                          url: 'https://www.instagram.com/user.Robertshaw'
                          followers: 1234440
                        youtube:
                          url: 'https://www.youtube.com/user.Robertshaw'
                          followers: 200000
                        tiktok:
                          url: 'https://www.tiktok.com/@Robertshaw'
                          followers: 706716
                        blog:
                          url: 'https://www.blog.com/user.Robertshaw'
                          visites: 20000
                    - id: 510afa78-7a96-4f40-900d-cfa653f2a624
                      fullName: Karena Rannald
                      status: registered
                      createdAt: '2021-11-15 09:47:48.501+00'
                      avatarUrl: 'https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=922&q=80'
                      socialNetworks:
                        instagram:
                          url: 'https://www.instagram.com/user.Rannald'
                          followers: 1234440
                        tiktok:
                          url: 'https://www.tiktok.com/@Rannald'
                          followers: 706716
                        blog:
                          url: 'https://www.blog.com/user.Rannald'
                          visites: 20000
                    - id: 510afa78-7a96-4f40-970d-cfa653f2a695
                      fullName: Marcus Stedall
                      status: incomplete
                      createdAt: '2021-11-19 09:47:48.501+00'
                      avatarUrl: 'https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80'
                      socialNetworks:
                        instagram:
                          url: 'https://www.instagram.com/user.Stedall'
                          followers: 1234440
                        youtube:
                          url: 'https://www.youtube.com/user.Stedall'
                          followers: 200000
                        tiktok:
                          url: 'https://www.tiktok.com/@Stedall'
                          followers: 706716
                    - id: 519afa78-7a96-4f40-970d-cfa653f2a626
                      fullName: Millie Bransgrove
                      status: incomplete
                      createdAt: '2021-11-15 09:47:48.501+00'
                      avatarUrl: 'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'
                      socialNetworks:
                        instagram:
                          url: 'https://www.instagram.com/user.kerluke'
                          followers: 1234440
                        youtube:
                          url: 'https://www.youtube.com/user.kerluke'
                          followers: 200000
                        blog:
                          url: 'https://www.blog.com/user.kerluke'
                          visites: 20000
                example-1:
                  value:
                    - id: 510afa78-7a96-4f40-970d-cfa653f2a623
                      fullName: Lucian Obrien
                      avatarUrl: ckw0m01m7004z2h0l23pu01bi.jpg
                      nbMessageUnread: 8
                      socialNetworks:
                        instagram:
                          url: 'https://www.instagram.com/user.kerluke'
                          followers: 1234440
                        youtube:
                          url: 'https://www.youtube.com/user.kerluke'
                          followers: 200000
                        tiktok:
                          url: 'https://www.tiktok.com/@kerluke'
                          followers: 706716
                        blog:
                          url: 'https://www.blog.com/user.kerluke'
                          visites: 20000
                      createdAt: '2021-11-15 09:47:48.501+00'
                      ratingStars: 5
                      status: registered
        '400':
          description: bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
    parameters: []
  /statistics/general:
    get:
      security:
        - bearerAuth: []
      tags:
        - STATISTICS
        - ADMIN UI
      description: Get statistics informations
      summary: Get general statistics informations for navbar
      operationId: getGeneralStatistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestsToValidate:
                    type: integer
                  runningCampaigns:
                    type: integer
                  newMessages:
                    type: integer
              examples:
                example-1:
                  value:
                    requestsToValidate: 54
                    runningCampaigns: 32
                    newMessages: 5
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    parameters: []
  /statistics/general-information/dashboard:
    get:
      security:
        - bearerAuth: []
      tags:
        - STATISTICS
        - DASHBOARD PAGE
        - ADMIN UI
      description: |-
        Get statistics informations of all of users in Tribz to be used on the Admin Dashboard page. 
        This is to populate the graph and the cards on the dashboard page
      summary: Get general statistics informations for dashboard
      operationId: getUserStatistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  usersToVerify:
                    type: integer
                  requestsToValidate:
                    type: integer
                  itemsToShip:
                    type: integer
                  content:
                    type: object
                    properties:
                      nbToValidate:
                        type: integer
                      nbPosted:
                        type: integer
                      postedPercent:
                        type: number
                      nbPending:
                        type: integer
                      pendingPercent:
                        type: number
                  totalView:
                    type: integer
                  userActive:
                    $ref: '#/components/schemas/ChartDataForStatistics'
                  userSignup:
                    $ref: '#/components/schemas/ChartDataForStatistics'
              examples:
                example-1:
                  value:
                    usersToVerify: 54
                    requestsToValidate: 23
                    itemsToShip: 12
                    runningCampaigns: 32
                    content:
                      nbToValidate: 42
                      nbPosted: 60
                      postedPercent: 25
                      nbPending: 25
                      pendingPercent: 25
                    totalView: 714000
                    userActive:
                      title: activeUsers30Days
                      percent: 0.026
                      total: 18455
                      chartData:
                        - 500
                        - 3000
                        - 5233
                        - 22
                        - 11
                        - 5968
                        - 2235
                        - 2266
                        - 265
                        - 568
                    userSignup:
                      title: signups30Days
                      percent: 0.026
                      total: 455
                      chartData:
                        - 256
                        - 60
                        - 26
                        - 44
                        - 96
                        - 22
                        - 66
                        - 35
                        - 99
                        - 58
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    parameters: []
  /statistics/platform-users/dashboard:
    get:
      security:
        - bearerAuth: []
      tags:
        - STATISTICS
        - DASHBOARD PAGE
        - USERS
        - ADMIN UI
      description: 'Get statistics on user signups, active users etc to populate Graph in dashboard'
      summary: Get platform users statistics informations for dashboard
      operationId: get-statistics-dashboard-platform-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                      example: year
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          data:
                            type: array
                            items:
                              type: integer
                    labels:
                      type: array
                      items:
                        type: string
              examples:
                example-1:
                  value:
                    - title: year
                      data:
                        - name: activeUsers
                          data:
                            - 19
                            - 26
                            - 85
                            - 96
                            - 25
                            - 34
                            - 62
                            - 96
                            - 85
                            - 56
                            - 85
                            - 21
                        - name: validSignups
                          data:
                            - 19
                            - 26
                            - 85
                            - 96
                            - 25
                            - 34
                            - 62
                            - 96
                            - 85
                            - 56
                            - 85
                            - 21
                        - name: totalSignups
                          data:
                            - 19
                            - 26
                            - 85
                            - 96
                            - 25
                            - 34
                            - 62
                            - 96
                            - 85
                            - 56
                            - 85
                            - 21
                      labels:
                        - 2022-1
                        - 2022-2
                        - 2022-3
                        - 2022-4
                        - 2022-05
                        - 2022-6
                        - 2022-7
                        - 2022-6
                        - 2022-9
                        - 2022-10
                        - 2022-11
                        - 2022-12
                    - title: Last5Week
                      data:
                        - name: activeUsers
                          data:
                            - 62
                            - 96
                            - 85
                            - 56
                            - 85
                        - name: validSignups
                          data:
                            - 19
                            - 26
                            - 85
                            - 96
                            - 25
                        - name: totalSignups
                          data:
                            - 96
                            - 85
                            - 56
                            - 85
                            - 21
                      labels:
                        - '5'
                        - '4'
                        - '3'
                        - '2'
                        - '1'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    parameters: []
  /statistics/social-networks/dashboard:
    get:
      security:
        - bearerAuth: []
      tags:
        - STATISTICS
        - DASHBOARD PAGE
        - SOCIAL NETWORKS
        - EDIT USER ADD ADDRESS PAGE
      summary: Get social networks statistics informations for dashboard
      operationId: getSocialNetworksStatistics
      description: Get list of social networks statistics to populate cards on the Admin Dashboard
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChartDataForStatistics'
              examples:
                example-1:
                  value:
                    - title: totalFollowerReach
                      percent: 23
                      total: 345892
                      chartData:
                        - 8765
                        - 5621
                        - 982
                        - 1231
                        - 7654
                        - 1982
                        - 765
                        - 892
                        - 2316
                        - 1298
                    - title: instagram
                      percent: 23
                      total: 345892
                      chartData:
                        - 8765
                        - 5621
                        - 982
                        - 1231
                        - 7654
                        - 1982
                        - 765
                        - 892
                        - 2316
                        - 1298
                    - title: youtube
                      percent: 23
                      total: 345892
                      chartData:
                        - 8765
                        - 5621
                        - 982
                        - 1231
                        - 7654
                        - 1982
                        - 765
                        - 892
                        - 2316
                        - 1298
                    - title: tiktok
                      percent: 23
                      total: 345892
                      chartData:
                        - 8765
                        - 5621
                        - 982
                        - 1231
                        - 7654
                        - 1982
                        - 765
                        - 892
                        - 2316
                        - 1298
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartDataForStatistics'
    parameters: []
  /campaigns:
    get:
      security:
        - bearerAuth: []
      tags:
        - CAMPAIGNS
        - CAMPAIGNS LIST PAGE
        - DASHBOARD PAGE
        - ADMIN UI
      summary: Get list of campaigns
      operationId: getCampaigns
      description: |
        Get list of campaigns for Admin Dashboard page and campaign overview page
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampaignItemForListOfCampaigns'
              examples:
                example-1:
                  value:
                    - id: 510afa78-7a96-4f40-970d-cfa653f2a623
                      name: Leica M6
                      featuredImage: 'https://images.unsplash.com/photo-1542144761-432a669108a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'
                      socialNetworks:
                        - instagram
                      request: 22
                      stock: 15
                      messages: 12
                      startDate: '2022-06-15 09:47:48.501+00'
                      endDate: '2021-07-15 09:47:48.501+00'
                      status: scheduled
                      brand:
                        id: 510afa78-7a96-4f40-970d-cfa653f2a623
                        name: Leica
                      EMV: 50000
                    - id: d9d24b34-5349-424c-ac61-91a3898ed22f
                      name: Mercedes-Benz Clase A
                      featuredImage: 'https://images.unsplash.com/photo-1571224237891-bfb45fcf0920?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1939&q=80'
                      socialNetworks:
                        - youtube
                      request: 0
                      stock: 30
                      messages: 150
                      startDate: '2022-11-15 09:47:48.501+00'
                      endDate: '2022-12-31 09:47:48.501+00'
                      status: draft
                      brand:
                        id: 510afa78-7a96-4f40-970d-cfa653f2a623
                        name: Mercedes-Benz
                      EMV: 150000
                    - id: ca6f070b-359b-4dca-a7ea-cba6109b6256
                      name: Ipad Pro
                      featuredImage: 'https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'
                      socialNetworks:
                        - instagramStory
                      request: 120
                      stock: 30
                      messages: 100
                      startDate: '2022-03-10 09:47:48.501+00'
                      endDate: '2022-05-15 09:47:48.501+00'
                      status: running
                      brand:
                        id: 510afa78-7a96-4f40-970d-cfa653f2a623
                        name: Appel
                      EMV: 245000
                    - id: 205d8d22-fd79-40dd-bde1-1c9f6502bf6b
                      name: WATCH SERIES 7
                      featuredImage: 'https://images.unsplash.com/photo-1558126319-c9feecbf57ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80'
                      socialNetworks:
                        - instagramStory
                        - youtube
                        - instagram
                      request: 212
                      stock: 30
                      messages: 150
                      startDate: '2022-07-15 09:47:48.501+00'
                      endDate: '2022-08-15 09:47:48.501+00'
                      status: scheduled
                      brand:
                        id: 510afa78-7a96-4f40-970d-cfa653f2a623
                        name: Appel
                      EMV: 5000
                    - id: 205d8d22-fd79-40dd-bde1-1c9f6502bf6c
                      name: Nike Free
                      featuredImage: 'https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'
                      socialNetworks:
                        - instagramStory
                        - youtube
                        - instagram
                      request: 128
                      stock: 30
                      messages: 170
                      startDate: '2021-11-15 09:47:48.501+00'
                      endDate: '2021-11-15 09:47:48.501+00'
                      status: finished
                      brand:
                        id: d290f1ee-6c54-4b01-90e6-d701748f0855
                        name: Nike
                      EMV: 5000
                    - id: 88825b63-5591-49f4-9c09-05b60cceae70
                      name: AirMax PRO Runner
                      featuredImage: 'https://images.unsplash.com/photo-1614689407867-cb537e6749d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80'
                      socialNetworks:
                        - instagramStory
                        - youtube
                        - instagram
                      request: 120
                      stock: 30
                      messages: 10
                      startDate: '2021-11-15 09:47:48.501+00'
                      endDate: '2021-11-15 09:47:48.501+00'
                      status: finished
                      brand:
                        id: d290f1ee-6c54-4b01-90e6-d701748f0855
                        name: Nike
                      EMV: 5000
                    - id: e4d5edd1-2ac4-4569-b088-51200370eac6
                      name: SuperRep Go
                      featuredImage: 'https://images.unsplash.com/photo-1606107557195-0e29a4b5b4aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80'
                      socialNetworks:
                        - instagramStory
                        - youtube
                      request: 162
                      stock: 30
                      messages: 100
                      startDate: '2021-11-15 09:47:48.501+00'
                      endDate: '2021-11-15 09:47:48.501+00'
                      status: finished
                      brand:
                        id: d290f1ee-6c54-4b01-90e6-d701748f0855
                        name: Nike
                      EMV: 5000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    post:
      security:
        - bearerAuth: []
      tags:
        - CAMPAIGNS
        - CREATE CAMPAIGN CONTENT PAGE
        - ADMIN UI
      summary: Create a new Campaign
      operationId: createCampaign
      description: |-
        Create a new Campaign with content
        Only user with Role Admin or Brand can use this route
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: created campaign id
                    example: 510afa78-7a96-4f40-970d-cfa653f2a623
              examples:
                example-1:
                  value:
                    id: 510afa78-7a96-4f40-970d-cfa653f2a623
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignItemForCreate'
            examples:
              example-1:
                value:
                  name: ROUGE ALLURE INK FUSION
                  campaignDescription: 1 x Rouge a Levre “ROUGE ALLURE INK FUSION”.Disponible en 3 Teintes differentes. Dans ce lot tu trouveras aussi un sac de voyage Chanel et tous ce que tu as besoin pour une soirée entre copines.
                  campaignDetails: 'Cet été, Chanel vous propose un aller simple pour Milan, capitale italienne de la mode et des défilés, toujours à la pointe des tendances artistiques et design qui nous inspirent. La collection Milan vous offre une palette de couleurs automnales, composée de teintes marronnées, pour un style rétro, et bleutés pour un style denim classique.'
                  requirements: 'Un minimum d''abonnés peut être requis afin de pouvoir postuler.Nous t''envoyons deux lots (un pour toi et un pour ta gagnante, à envoyer par tes soins)Le / les produits doivent être mis en avant et bien visibles. Ton contenu devra être posté dans les 10 jours suivants la réception du produit.'
                  descriptionImages:
                    - 'https://images.unsplash.com/photo-1590156221016-bb86850b4501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80'
                    - 'https://images.unsplash.com/photo-1590156221016-bb86850b4501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80'
                  inspirationImages:
                    - 'https://images.unsplash.com/photo-1591102600153-75f95d5a4f17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'
                    - 'https://images.unsplash.com/photo-1541787457429-b1766a4766b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'
                    - 'https://images.unsplash.com/photo-1484311969987-0a20cd9afedc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'
                  bannerImage: 'https://images.unsplash.com/photo-1592840054664-6bc0f6fbc3d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1842&q=80'
                  featuredImage: 'https://images.unsplash.com/photo-1592840054664-6bc0f6fbc3d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1842&q=80'
                  socialNetworks:
                    - name: instagramStory
                      details: 2 stories
                    - name: instagram
                      details: 3 posts & 1 video
                  stock: 40
                  price: 42
                  teaser: true
                  startDate: '2021-11-15 09:47:48.501+00'
                  endDate: '2021-11-15 09:47:48.501+00'
                  hastags:
                    - chanel
                    - chanel-paris
                  mentions:
                    - ChanelFr
                    - iLoveChanel
                  campaignLink: 'https://www.chanel.com/fr/maquillage/p/165836/rouge-allure-ink-fusion-le-rouge-a-levres-liquide-mat-intense-seconde-peau/'
                  youtubeLink: 'https://www.youtube.com/'
                  CTAText: new
                  options:
                    - name: color
                      content:
                        - 848-BRUN MYSTERIEUX
                        - 822-DEEP PINK
                        - 836-IDYLLIQUE
                  brandId: bf8e4cc6-a929-495a-a8dc-079656a488b5
  '/campaigns/{campaignId}':
    parameters:
      - name: campaignId
        in: path
        description: ID of campaign to update
        required: true
        schema:
          type: string
          format: uuid
          example: a6c92bcd-5902-40d0-bd09-f44b477f08c4
    patch:
      security:
        - bearerAuth: []
      tags:
        - CAMPAIGNS
        - CREATE CAMPAIGN CONTENT PAGE
        - CREATE CAMPAIGN FINISH PAGE
        - MANAGE CAMPAIGNS PAGE
        - ADMIN UI
      summary: Update informations of one campaign
      operationId: updateOneCampaign
      description: 'Update informations of one campaign excepting targeting,  '
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignItemForCreate'
            examples:
              example-1:
                value:
                  name: Summery cool
                  campaignDescription: 1 x Rouge a Levre “Red Power 24h”.Disponible en 3 Teintes differentes. Dans ce lot tu trouveras aussi un sac de voyage Chanel et tous ce que tu as besoin pour une soirée entre copines.
                  campaignDetails: 'Cet automne, OPI vous propose un aller simple pour Milan, capitale italienne de la mode et des défilés, toujours à la pointe des tendances artistiques et design qui nous inspirent. La collection Milan vous offre une palette de couleurs automnales, composée de teintes marronnées, pour un style rétro, et bleutés pour un style denim classique.'
                  requirements: 'Un minimum d''abonnés peut être requis afin de pouvoir postuler.Nous t''envoyons deux lots (un pour toi et un pour ta gagnante, à envoyer par tes soins)Le / les produits doivent être mis en avant et bien visibles. Ton contenu devra être posté dans les 10 jours suivants la réception du produit.'
                  descriptionImages:
                    - 3390-212-Capture-d’écran-2021-06-24-à-17.16.04.png
                  inspirationImages:
                    - 3390-212-Capture-d’écran-2021-06-24-à-17.16.04.png
                  bannerImage: 3390-212-Capture-d’écran-2021-06-24-à-17.16.04.png
                  socialNetworks:
                    - name: instagramStory
                      details: 2 stories
                  stock: 29
                  price: 89
                  teaser: true
                  startDate: '2021-11-15 09:47:48.501+00'
                  endDate: '2021-11-15 09:47:48.501+00'
                  hastags:
                    - string
                  mentions:
                    - string
                  campaignLink: 'https://www.channel.com'
                  CTAText: Last Chance
                  options:
                    - name: color
                      content:
                        - string
                  brandId: 510afa78-7a96-4f40-970d-cfa653f2a623
                  status: draft
        description: ''
    delete:
      summary: Delete one campaign
      operationId: delete-campaigns-campaignId
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      description: Delete one campaign
      tags:
        - CAMPAIGNS
      security:
        - bearerAuth: []
  /statistics/social-networks/filter-by-targeting:
    get:
      security:
        - bearerAuth: []
      tags:
        - STATISTICS
        - CAMPAIGNS
        - CREATE CAMPAIGN TARGETING PAGE
        - SOCIAL NETWORKS
        - USERS
        - ADMIN UI
      summary: Get statistics of users by filter
      description: 'Get social networks statistics information, react by filtered by targeting, display in the create campaign targeting page'
      operationId: get-statistics-social-networks-filter-by-targeting
      parameters:
        - $ref: '#/components/parameters/GenderParam'
        - $ref: '#/components/parameters/CampaignsIncludedParam'
        - $ref: '#/components/parameters/CampaignsExcludedParam'
        - $ref: '#/components/parameters/EngagementRateParam'
        - $ref: '#/components/parameters/RatingParam'
        - $ref: '#/components/parameters/InterestsParam'
        - $ref: '#/components/parameters/AgesParam'
        - $ref: '#/components/parameters/InstagramMinFollowers'
        - $ref: '#/components/parameters/InstagramMaxFollowers'
        - $ref: '#/components/parameters/YoutubeMinFollowers'
        - $ref: '#/components/parameters/YoutubeMaxFollowers'
        - $ref: '#/components/parameters/TikTokMinFollowers'
        - $ref: '#/components/parameters/TikTokMaxFollowers'
        - $ref: '#/components/parameters/BlogMinFollowers'
        - $ref: '#/components/parameters/BlogMaxFollowers'
        - $ref: '#/components/parameters/CountriesIncludedParam'
        - $ref: '#/components/parameters/CountriesExcludedParam'
        - $ref: '#/components/parameters/RegionsIncludedParam'
        - $ref: '#/components/parameters/RegionsExcludedParam'
        - $ref: '#/components/parameters/CitiesIncludedParam'
        - $ref: '#/components/parameters/CitiesExcludedParam'
        - $ref: '#/components/parameters/ClubsExcludedParam'
        - $ref: '#/components/parameters/ClubsIncludedParam'
        - $ref: '#/components/parameters/UsersIncludedParam'
        - $ref: '#/components/parameters/UsersExcludedParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  influencers:
                    $ref: '#/components/schemas/ChartDataForStatisticsInfluencers'
                  followers:
                    $ref: '#/components/schemas/ChartDataForStatisticsFollowers'
                  views:
                    $ref: '#/components/schemas/ChartDataForStatisticsViews'
                  engagements:
                    $ref: '#/components/schemas/ChartDataForStatisticsEngagement'
              examples:
                example-1:
                  value:
                    influencers:
                      chartData:
                        - 571
                        - 250
                        - 260
                        - 61
                      labels:
                        - total
                        - male
                        - female
                        - other
                    followers:
                      total: 1700455
                      instagram: 580050
                      youtube: 280000
                      tiktok: 850000
                    views:
                      total: 123143
                      instagramMedia: 1580050
                      youtube: 280000
                      tiktok: 850000
                      instagramStory: 200300
                    engagements:
                      total: 3700455
                      instagram: 1580050
                      youtube: 1280000
                      tiktok: 850000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    parameters: []
    post:
      summary: 'Get social networks statistics information, react by filtered by targeting, display in the create campaign targeting page'
      operationId: post-statistics-social-networks-filter-by-targeting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  influencers:
                    $ref: '#/components/schemas/ChartDataForStatisticsInfluencers'
                  followers:
                    $ref: '#/components/schemas/ChartDataForStatisticsFollowers'
                  views:
                    $ref: '#/components/schemas/ChartDataForStatisticsViews'
                  engagements:
                    $ref: '#/components/schemas/ChartDataForStatisticsEngagement'
              examples:
                example-1:
                  value:
                    influencers:
                      chartData:
                        - 971
                        - 350
                        - 560
                        - 61
                      labels:
                        - total
                        - male
                        - female
                        - other
                    followers:
                      total: 1700455
                      instagram: 580050
                      youtube: 280000
                      tiktok: 850000
                    views:
                      total: 123143
                      instagramMedia: 1580050
                      youtube: 280000
                      tiktok: 850000
                      instagramStory: 200300
                    engagements:
                      total: 3700455
                      instagram: 1580050
                      youtube: 1280000
                      tiktok: 850000
      description: |-
        Get social networks statistics information, to be displayed in the create campaing targeting page.
        The route is called on each change of filtering options, however as it is very ressource heavy to calculate we should debounce it in the Frontend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetingBody'
            examples:
              example-1:
                value:
                  gender:
                    - female
                  engagementRate: 0.067
                  ages:
                    - <18
                    - 18-24
                  interests:
                    - 510afa78-7a96-4f40-970d-cfa653f2a623
                  ratingStars: 3
                  instagramMinFollowers: 10000
                  instagramMaxFollowers: 10000
                  youtubeMinFollowers: 10000
                  youtubeMaxFollowers: 10000
                  tikTokMinFollowers: 10000
                  tikTokMaxFollowers: 10000
                  blogMinFollowers: 10000
                  blogMaxFollowers: 10000
                  campaignsExcluded:
                    - campaignId: 510afa78-7a96-4f40-970d-cfa653f2a623
                      ordersStatus: pending
                  campaignsIncluded:
                    - campaignId: 205d8d22-fd79-40dd-bde1-1c9f6502bf6b
                      ordersStatus: validated
                  clubsExcluded:
                    - 3e8b2b9c-88f0-40e2-bea7-fc1a1e2f02c0
                  clubsIncluded:
                    - f5a70f0c-8be2-423a-9592-fc430a28511e
                  countriesExcluded:
                    - france
                    - belgique
                  countriesIncluded:
                    - france
                    - belgique
                  regionsIncluded:
                    - ile de france
                    - picardie
                  regionsExcluded:
                    - ile de france
                    - picardie
                  citiesExcluded:
                    - label: Cannes
                      radiusAround: 10
                    - label: Nice
                      radiusAround: 6
                  citiesIncluded:
                    - label: Lyon
                      radiusAround: 10
                    - label: Paris
                      radiusAround: 40
                  usersExcluded:
                    - 519afa78-7a96-4f40-970d-cfa653f2a623
                  usersIncluded:
                    - 510afa78-7a96-4f40-900d-cfa653f2a624
        description: ''
      tags:
        - STATISTICS
        - ADMIN UI
        - CREATE CAMPAIGN TARGETING PAGE
      security:
        - bearerAuth: []
  /users/find-by-filter/list-of-users:
    get:
      security:
        - bearerAuth: []
      tags:
        - CAMPAIGNS
        - CREATE CAMPAIGN TARGETING PAGE
        - USERS
        - ADMIN UI
      summary: Get list of users by filter
      description: Get list of users by filter
      operationId: GetIncludedUsersListByFilter
      parameters:
        - $ref: '#/components/parameters/IncludeParam'
        - $ref: '#/components/parameters/GenderParam'
        - $ref: '#/components/parameters/CampaignsIncludedParam'
        - $ref: '#/components/parameters/CampaignsExcludedParam'
        - $ref: '#/components/parameters/EngagementRateParam'
        - $ref: '#/components/parameters/RatingParam'
        - $ref: '#/components/parameters/InterestsParam'
        - $ref: '#/components/parameters/AgesParam'
        - $ref: '#/components/parameters/InstagramMinFollowers'
        - $ref: '#/components/parameters/InstagramMaxFollowers'
        - $ref: '#/components/parameters/YoutubeMaxFollowers'
        - $ref: '#/components/parameters/TikTokMinFollowers'
        - $ref: '#/components/parameters/TikTokMaxFollowers'
        - $ref: '#/components/parameters/BlogMinFollowers'
        - $ref: '#/components/parameters/BlogMaxFollowers'
        - $ref: '#/components/parameters/CountriesIncludedParam'
        - $ref: '#/components/parameters/CountriesExcludedParam'
        - $ref: '#/components/parameters/RegionsIncludedParam'
        - $ref: '#/components/parameters/RegionsExcludedParam'
        - $ref: '#/components/parameters/CitiesIncludedParam'
        - $ref: '#/components/parameters/CitiesExcludedParam'
        - $ref: '#/components/parameters/UsersIncludedParam'
        - $ref: '#/components/parameters/UsersExcludedParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserItemForUserList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    parameters: []
  '/campaigns/{campaignId}/targeting':
    get:
      security:
        - bearerAuth: []
      tags:
        - CAMPAIGNS
        - CREATE CAMPAIGN TARGETING PAGE
        - ADMIN UI
      summary: Get user's filter informations for targeting
      description: Get user's filter informations for targeting
      operationId: get-campaigns-campaignId-targeting
      parameters:
        - name: campaignId
          in: path
          description: ID of campaign to update
          required: true
          schema:
            type: string
            format: uuid
            example: a6c92bcd-5902-40d0-bd09-f44b477f08c4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetingBody'
              examples:
                example-1:
                  value:
                    gender:
                      - female
                    engagementRate: 0.067
                    ages:
                      - <18
                      - 18-24
                    interests:
                      - 510afa78-7a96-4f40-970d-cfa653f2a623
                    ratingStars: 3
                    instagramMinFollowers: 10000
                    instagramMaxFollowers: 10000
                    youtubeMinFollowers: 10000
                    youtubeMaxFollowers: 10000
                    tikTokMinFollowers: 10000
                    tikTokMaxFollowers: 10000
                    blogMinFollowers: 10000
                    blogMaxFollowers: 10000
                    campaignsExcluded:
                      - campaignId: 510afa78-7a96-4f40-970d-cfa653f2a623
                        ordersStatus: pending
                    campaignsIncluded:
                      - campaignId: 205d8d22-fd79-40dd-bde1-1c9f6502bf6b
                        ordersStatus: validated
                    clubsExcluded:
                      - 3e8b2b9c-88f0-40e2-bea7-fc1a1e2f02c0
                    clubsIncluded:
                      - f5a70f0c-8be2-423a-9592-fc430a28511e
                    countriesExcluded:
                      - france
                      - belgique
                    countriesIncluded:
                      - france
                      - belgique
                    regionsIncluded:
                      - ile de france
                      - picardie
                    regionsExcluded:
                      - ile de france
                      - picardie
                    citiesExcluded:
                      - label: Cannes
                        radiusAround: 10
                      - label: Nice
                        radiusAround: 6
                    citiesIncluded:
                      - label: Paris
                        radiusAround: 10
                      - label: Lyon
                        radiusAround: 40
                    usersExcluded:
                      - 519afa78-7a96-4f40-970d-cfa653f2a623
                    usersIncluded:
                      - 510afa78-7a96-4f40-900d-cfa653f2a624
                    status: draft
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
    post:
      security:
        - bearerAuth: []
      tags:
        - CAMPAIGNS
        - CREATE CAMPAIGN TARGETING PAGE
        - ADMIN UI
      summary: Create user's filter informations for targeting
      description: Create user's filter informations for targeting
      operationId: post-campaigns-campaignId-targeting
      parameters:
        - name: campaignId
          in: path
          description: ID of campaign to update
          required: true
          schema:
            type: string
            format: uuid
            example: a6c92bcd-5902-40d0-bd09-f44b477f08c4
      requestBody:
        $ref: '#/components/requestBodies/TargetingBody'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    patch:
      security:
        - bearerAuth: []
      tags:
        - CAMPAIGNS
        - CREATE CAMPAIGN TARGETING PAGE
        - ADMIN UI
      summary: Update user's filter informations for targeting
      description: Update user's filter informations for targeting
      operationId: updateFilterInformationForTargeting
      parameters:
        - name: campaignId
          in: path
          description: ID of campaign to update
          required: true
          schema:
            type: string
            format: uuid
            example: a6c92bcd-5902-40d0-bd09-f44b477f08c4
      requestBody:
        $ref: '#/components/requestBodies/TargetingBody'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    parameters:
      - schema:
          type: string
          format: uuid
        name: campaignId
        in: path
        required: true
        description: campaignId
  '/users/{userId}/orders-statistics/{orderId}':
    get:
      security:
        - bearerAuth: []
      tags:
        - STATISTICS
        - CHAT PAGE
        - MANAGE CAMPAIGNS PAGE
        - USERS
        - ADMIN UI
      summary: Get  orders statistics informations for one user
      description: 'Get  orders statistics informations for one user, display in the manage campaigns page, and chat page'
      operationId: get-user-userId-orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserItemForManageCampaigns'
              examples:
                example-1:
                  value:
                    id: 519afa78-7a96-4f40-970d-cfa653f2a623
                    fullName: Giulietta Oldmeadow
                    avatarUrl: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
                    gender: male
                    age: 35
                    city: paris
                    rating:
                      ratingStars: 4
                      totalComments: 56
                    biography: I'm a content creator from Paris and love posting about food and cooking
                    socialNetworkLinks:
                      - name: instagram
                        link: 'https://www.instagram.com/facebookmarketplace/?hl=en'
                      - name: youtube
                        link: 'https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ'
                      - name: blog
                        link: 'https://i-love-code-abz.blogspot.com/2022/03/this-is-my-first-article-lorem-ipsum.html'
                    motivation: 'Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque adiuves, sustinere. Non enim neque tu possis, quamvis excellas, omnes tuos ad honores amplissimos perducere, ut Scipio P. Rupilium potuit consulem efficere, fratrem eius L. non potuit. Quod si etiam possis quidvis deferre ad alterum, videndum est tamen, quid ille possit sustinere.'
                    historyStatistic:
                      pending: 1
                      readyToShip: 1
                      rejected: 6
                      shipped: 2
                      received: 3
                      published: 6
                      validated: 23
                      declined: 2
                    orderList:
                      - id: b2533ad4-5797-4a66-a1cf-91e5876964a3
                        status: received
                        updatedAt: '2022-03-20 09:00:00.501+00'
                        campaignName: Ipad Pro
                        brandName: Appel
                      - id: 21b462b5-06b5-4567-8085-4496c47fdf79
                        status: pending
                        updatedAt: '2022-03-23 09:00:00.501+00'
                        campaignName: Leica M6
                        brandName: Leica Camera AG
                      - id: 3d5adf88-b8e9-46b6-ab58-2f6358aa7c2f
                        status: rejected
                        updatedAt: '2021-11-25 09:00:00.501+00'
                        campaignName: SuperRep Go
                        brandName: Nike Group
                      - id: 205d8d22-fd79-40dd-bde1-1c9f6502bf6c
                        status: published
                        updatedAt: '2022-03-24 09:00:00.501+00'
                        campaignName: Nike Free
                        brandName: Nike Group
                      - id: 96ff67e9-c0ac-4be3-a28a-0c5aabd9b31b
                        status: validated
                        updatedAt: '2022-02-23 09:00:00.501+00'
                        campaignName: AirMax PRO Runner
                        brandName: Nike Group
                    publicationsHistory:
                      - id: 510afa78-7a96-4f40-970d-cfa653f2a623
                        mediaType: instagramStory
                        mediaPath: 'https://images.unsplash.com/photo-1556906781-9a412961c28c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
                        metrics:
                          views: 5566
                          likes: 2233
                        publishDate: '2022-03-17T15:02:39.889+00:00'
                        status: validated
                      - id: 2f37853d-311f-435b-af94-605b19ef7e69
                        mediaType: instagramPost
                        mediaPath: 'https://images.unsplash.com/photo-1628413993904-94ecb60f1239?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmlrZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60'
                        metrics:
                          likes: 12004
                          comments: 234
                        publishDate: '2022-03-18T15:02:39.889+00:00'
                        status: validated
                      - id: 3537c737-58ba-4b91-977c-2e51d06da468
                        mediaType: instagramReel
                        mediaPath: 'https://images.unsplash.com/photo-1626379625260-7111605463e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG5pa2V8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60'
                        metrics:
                          views: 3546
                          clicks: 145
                        publishDate: '2022-03-19T15:02:39.889+00:00'
                        status: validated
                      - id: 6d197f1e-9d42-46c0-9da3-1090bc2bfb1e
                        mediaType: youtubeVideo
                        mediaPath: 'https://images.unsplash.com/photo-1554350747-ec45fd24f51b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG5pa2V8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60'
                        metrics:
                          views: 9856
                          likes: 786
                        publishDate: '2022-03-20T15:02:39.889+00:00'
                        status: validated
                      - id: 09175ab9-8830-4690-9e6a-f52c7f1436cd
                        mediaType: tiktok
                        mediaPath: 'https://images.unsplash.com/photo-1558104631-0fa41a8f6c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG5pa2V8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60'
                        metrics:
                          views: 32005
                          likes: 8857
                        publishDate: '2022-03-21T15:02:39.889+00:00'
                        status: validated
                      - id: 57aefa25-f0e5-41ad-a820-d547d1063bab
                        mediaType: blog
                        mediaPath: ''
                        metrics:
                          visits: 7766
                        publishDate: '2022-03-22T15:02:39.889+00:00'
                        status: validated
                    socialNetworksStatisticsByMedia:
                      instagram:
                        followers: 1234440
                        engagementRate: 0.045
                        likes: 1564
                        views: 0
                        averageComments: 563
                        postsPerMonth: 68
                        averageLikes: 256
                        averageImpressions: 792
                        lastPost: '2022-03-25 09:00:00.501+00'
                        audienceCountry:
                          DE: 326
                          RU: 100
                          TW: 110
                          BE: 397
                          PT: 111
                          JP: 197
                          FR: 6530
                          HU: 50
                          BR: 571
                          MA: 179
                          DZ: 122
                          ID: 230
                          GB: 440
                          EC: 48
                          CA: 399
                          US: 1377
                          EG: 59
                          IL: 50
                          AE: 49
                          CH: 195
                          IN: 217
                          KR: 100
                          ZA: 102
                          CL: 171
                          CN: 83
                          GR: 102
                          MX: 833
                          IT: 1000
                          MY: 74
                          CO: 192
                          ES: 531
                          VE: 56
                          AR: 295
                          RE: 71
                          AU: 178
                          TH: 443
                          PE: 108
                          CZ: 62
                          VN: 83
                          PH: 250
                          TN: 112
                          PL: 161
                          RO: 70
                          NL: 102
                          TR: 128
                        audienceCity:
                          'London, England': 115
                          'Algiers, Algiers Province': 33
                          'Reims, Champagne-Ardenne': 35
                          'Casablanca, Grand Casablanca': 47
                          'São Paulo, São Paulo (state)': 72
                          'Aix-en-Provence, Provence-Alpes-Côte d''Azur': 39
                          'Barcelona, Cataluña': 56
                          'Rio de Janeiro, Rio de Janeiro (state)': 41
                          'Hong Kong, Hong Kong': 41
                          'Montreal, Quebec': 73
                          'Berlin, Berlin': 52
                          'Seoul, Seoul': 41
                          'Lille, Nord-Pas-de-Calais': 43
                          'Nantes, Pays de la Loire': 58
                          'Toulouse, Midi-Pyrénées': 92
                          'Moscow, Moscow': 43
                          'Tunis, Tunis Governorate': 35
                          'Bogotá, Distrito Especial': 79
                          'Brussels, Brussels': 39
                          'Jakarta, Jakarta': 48
                          'Montpellier, Languedoc-Roussillon': 65
                          'Buenos Aires, Ciudad Autónoma de Buenos Aires': 72
                          'Paris, Île-de-France': 760
                          'Ho Chi Minh City, Ho Chi Minh City': 39
                          'Shanghai, Shanghai': 63
                          'Melbourne, Victoria': 46
                          'Los Angeles, California': 46
                          'Madrid, Comunidad de Madrid': 75
                          'Nice, Provence-Alpes-Côte d''Azur': 64
                          'Lima, Lima Region': 78
                          'Istanbul, Istanbul Province': 57
                          'Rome, Lazio': 86
                          'Milan, Lombardia': 49
                          'Bangkok, Bangkok': 193
                          'Abidjan, Abidjan': 45
                          'Mexico City, Distrito Federal': 187
                          'Cape Town, Western Cape': 39
                          'Bordeaux, Aquitaine': 76
                          'New York, New York': 84
                          'Cairo, Cairo Governorate': 33
                          'Santiago, Santiago Metropolitan Region': 93
                          'Réunion, Réunion': 58
                          'Marseille, Provence-Alpes-Côte d''Azur': 148
                          'Singapore, Singapore': 33
                          'Lyon, Rhône-Alpes': 85
                        audienceDemographic:
                          F.13-17: 100
                          F.18-24: 307
                          F.25-34: 330
                          F.35-44: 86
                          F.45-54: 44
                          F.55-64: 7
                          F.65+: 4
                          M.13-17: 27
                          M.18-24: 1018
                          M.25-34: 2105
                          M.35-44: 913
                          M.45-54: 401
                          M.55-64: 163
                          M.65+: 61
                          U.13-17: 127
                          U.18-24: 1325
                          U.25-34: 2435
                          U.35-44: 999
                          U.45-54: 445
                          U.55-64: 170
                          U.65+: 65
                      youtube:
                        followers: 200000
                        engagementRate: 0.035
                        averageViews: 13454
                        videos: 65
                        averageComments: 85
                        postsPerMonth: 3
                        averageLikes: 567
                        averageUnlikes: 23
                        lastPost: '2022-03-05 09:00:00.501+00'
                        audienceCountry:
                          DE: 326
                          RU: 100
                          TW: 110
                          BE: 397
                          PT: 111
                          JP: 197
                          FR: 6530
                          HU: 50
                          BR: 571
                          MA: 179
                          DZ: 122
                          ID: 230
                          GB: 440
                          EC: 48
                          CA: 399
                          US: 1377
                          EG: 59
                          IL: 50
                          AE: 49
                          CH: 195
                          IN: 217
                          KR: 100
                          ZA: 102
                          CL: 171
                          CN: 83
                          GR: 102
                          MX: 833
                          IT: 1000
                          MY: 74
                          CO: 192
                          ES: 531
                          VE: 56
                          AR: 295
                          RE: 71
                          AU: 178
                          TH: 443
                          PE: 108
                          CZ: 62
                          VN: 83
                          PH: 250
                          TN: 112
                          PL: 161
                          RO: 70
                          NL: 102
                          TR: 128
                        audienceCity:
                          'London, England': 115
                          'Algiers, Algiers Province': 33
                          'Reims, Champagne-Ardenne': 35
                          'Casablanca, Grand Casablanca': 47
                          'São Paulo, São Paulo (state)': 72
                          'Aix-en-Provence, Provence-Alpes-Côte d''Azur': 39
                          'Barcelona, Cataluña': 56
                          'Rio de Janeiro, Rio de Janeiro (state)': 41
                          'Hong Kong, Hong Kong': 41
                          'Montreal, Quebec': 73
                          'Berlin, Berlin': 52
                          'Seoul, Seoul': 41
                          'Lille, Nord-Pas-de-Calais': 43
                          'Nantes, Pays de la Loire': 58
                          'Toulouse, Midi-Pyrénées': 92
                          'Moscow, Moscow': 43
                          'Tunis, Tunis Governorate': 35
                          'Bogotá, Distrito Especial': 79
                          'Brussels, Brussels': 39
                          'Jakarta, Jakarta': 48
                          'Montpellier, Languedoc-Roussillon': 65
                          'Buenos Aires, Ciudad Autónoma de Buenos Aires': 72
                          'Paris, Île-de-France': 760
                          'Ho Chi Minh City, Ho Chi Minh City': 39
                          'Shanghai, Shanghai': 63
                          'Melbourne, Victoria': 46
                          'Los Angeles, California': 46
                          'Madrid, Comunidad de Madrid': 75
                          'Nice, Provence-Alpes-Côte d''Azur': 64
                          'Lima, Lima Region': 78
                          'Istanbul, Istanbul Province': 57
                          'Rome, Lazio': 86
                          'Milan, Lombardia': 49
                          'Bangkok, Bangkok': 193
                          'Abidjan, Abidjan': 45
                          'Mexico City, Distrito Federal': 187
                          'Cape Town, Western Cape': 39
                          'Bordeaux, Aquitaine': 76
                          'New York, New York': 84
                          'Cairo, Cairo Governorate': 33
                          'Santiago, Santiago Metropolitan Region': 93
                          'Réunion, Réunion': 58
                          'Marseille, Provence-Alpes-Côte d''Azur': 148
                          'Singapore, Singapore': 33
                          'Lyon, Rhône-Alpes': 85
                        audienceDemographic:
                          F.13-17: 49
                          F.18-24: 465
                          F.25-34: 550
                          F.35-44: 99
                          F.45-54: 36
                          F.55-64: 35
                          F.65+: 19
                          M.13-17: 35
                          M.18-24: 1352
                          M.25-34: 3652
                          M.35-44: 1023
                          M.45-54: 523
                          M.55-64: 163
                          M.65+: 96
                          U.13-17: 84
                          U.18-24: 1817
                          U.25-34: 4202
                          U.35-44: 1122
                          U.45-54: 559
                          U.55-64: 198
                          U.65+: 115
                      tiktok:
                        followers: 55685
                        engagementRate: 0.056
                        averageViews: 5862
                        clicks: 650
                        averageComments: 553
                        postsPerMonth: 56
                        averageLikes: 65
                        averageImpressions: 595
                        lastPost: '2022-03-15 09:00:00.501+00'
                        audienceCountry:
                          DE: 326
                          RU: 100
                          TW: 110
                          BE: 397
                          PT: 111
                          JP: 197
                          FR: 6530
                          HU: 50
                          BR: 571
                          MA: 179
                          DZ: 122
                          ID: 230
                          GB: 440
                          EC: 48
                          CA: 399
                          US: 1377
                          EG: 59
                          IL: 50
                          AE: 49
                          CH: 195
                          IN: 217
                          KR: 100
                          ZA: 102
                          CL: 171
                          CN: 83
                          GR: 102
                          MX: 833
                          IT: 1000
                          MY: 74
                          CO: 192
                          ES: 531
                          VE: 56
                          AR: 295
                          RE: 71
                          AU: 178
                          TH: 443
                          PE: 108
                          CZ: 62
                          VN: 83
                          PH: 250
                          TN: 112
                          PL: 161
                          RO: 70
                          NL: 102
                          TR: 128
                        audienceCity:
                          'London, England': 115
                          'Algiers, Algiers Province': 33
                          'Reims, Champagne-Ardenne': 35
                          'Casablanca, Grand Casablanca': 47
                          'São Paulo, São Paulo (state)': 72
                          'Aix-en-Provence, Provence-Alpes-Côte d''Azur': 39
                          'Barcelona, Cataluña': 56
                          'Rio de Janeiro, Rio de Janeiro (state)': 41
                          'Hong Kong, Hong Kong': 41
                          'Montreal, Quebec': 73
                          'Berlin, Berlin': 52
                          'Seoul, Seoul': 41
                          'Lille, Nord-Pas-de-Calais': 43
                          'Nantes, Pays de la Loire': 58
                          'Toulouse, Midi-Pyrénées': 92
                          'Moscow, Moscow': 43
                          'Tunis, Tunis Governorate': 35
                          'Bogotá, Distrito Especial': 79
                          'Brussels, Brussels': 39
                          'Jakarta, Jakarta': 48
                          'Montpellier, Languedoc-Roussillon': 65
                          'Buenos Aires, Ciudad Autónoma de Buenos Aires': 72
                          'Paris, Île-de-France': 760
                          'Ho Chi Minh City, Ho Chi Minh City': 39
                          'Shanghai, Shanghai': 63
                          'Melbourne, Victoria': 46
                          'Los Angeles, California': 46
                          'Madrid, Comunidad de Madrid': 75
                          'Nice, Provence-Alpes-Côte d''Azur': 64
                          'Lima, Lima Region': 78
                          'Istanbul, Istanbul Province': 57
                          'Rome, Lazio': 86
                          'Milan, Lombardia': 49
                          'Bangkok, Bangkok': 193
                          'Abidjan, Abidjan': 45
                          'Mexico City, Distrito Federal': 187
                          'Cape Town, Western Cape': 39
                          'Bordeaux, Aquitaine': 76
                          'New York, New York': 84
                          'Cairo, Cairo Governorate': 33
                          'Santiago, Santiago Metropolitan Region': 93
                          'Réunion, Réunion': 58
                          'Marseille, Provence-Alpes-Côte d''Azur': 148
                          'Singapore, Singapore': 33
                          'Lyon, Rhône-Alpes': 85
                        audienceDemographic:
                          F.13-17: 138
                          F.18-24: 1357
                          F.25-34: 3300
                          F.35-44: 846
                          F.45-54: 144
                          F.55-64: 70
                          F.65+: 14
                          M.13-17: 227
                          M.18-24: 4018
                          M.25-34: 5105
                          M.35-44: 923
                          M.45-54: 491
                          M.55-64: 263
                          M.65+: 62
                          U.13-17: 365
                          U.18-24: 5375
                          U.25-34: 8405
                          U.35-44: 1769
                          U.45-54: 635
                          U.55-64: 333
                          U.65+: 76
                      blog:
                        link: 'https://i-love-code-abz.blogspot.com/2022/03/this-is-my-first-article-lorem-ipsum.html'
                        monthlyVisitors: 33562
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: User not found
        '500':
          description: Internal Server Error
    parameters:
      - schema:
          type: string
          format: uuid
          example: a6c92bcd-5902-40d0-bd09-f44b477f08c4
        name: userId
        in: path
        required: true
      - schema:
          type: string
        name: orderId
        in: path
        required: true
  /orders:
    get:
      security:
        - bearerAuth: []
      tags:
        - ORDERS
        - MANAGE CAMPAIGN CONTENT EXPANDED PAGE
        - MANAGE CAMPAIGNS PAGE
        - ADMIN UI
      summary: Get list of orders
      operationId: getOrders
      description: 'Get list of orders, display in the manage Campaign page'
      parameters:
        - schema:
            type: string
            example: pending
          in: query
          name: status
          description: 'order status '
        - schema:
            type: string
            format: uuid
          in: query
          name: brandId
          description: brand id
        - schema:
            type: string
            format: uuid
          in: query
          name: campaignId
          description: campaign id
        - schema:
            type: string
          in: query
          name: search
          description: key word for search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderItemForManageCampaign'
              examples:
                example-1:
                  value:
                    - id: b2533ad4-5797-4a66-a1cf-91e5876664a3
                      status: received
                      user:
                        id: 519afa78-7a96-4f40-970d-cfa653f2a624
                        fullName: Giulietta Oldmeadow
[...]
